development_dataset.pickle
development_labels.pickle
embedding.pickle
iob_mapping.pickle
max_length.pickle
pos_mapping.pickle
test_dataset.pickle
test_labels.pickle
training_dataset.pickle
training_labels.pickle
word_freq.pickle
word_idx_mapping.pickle
*.txt
*.tsv
families.pkl
swissprot.pkl
__pycache__\
*.xml
